/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Input Styles */

input[type="button"] {
    margin-right: 10px; /* Space between buttons */
    padding: 8px 16px; /* Padding for buttons */
    background-color: #007bff; /* Bootstrap-like button color */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

input[type="button"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


input[type="text"] {
    width: 90%; /* Full width */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Loading Indicator */
.loading {
    font-size: 1.2em;
    text-align: center;
}



